/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
}

.text-primary{
    color:#FD6E0A ;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
}

/* nav related style start */

nav{
    display: flex;
    /* vertical ---X-axis borabor korte align item use kora hoy */
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;

    margin: 0 180px;
}


nav >  ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}
/* nav related style end  */


/* header related style start */
.header{
    background-color: #FFF8F3;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
   
}


.banner .profile-pic{
    width: 400px;
    height: 300px;
    border-radius: 50%;
  
}
/* header related style start */